<h1>TODO APP</h1>

<form data-bind="submit: addTodo">
  New item: <input type="text" data-bind="value: newTodo">
  <button type="submit">Add</button>
</form>

<ul data-bind="foreach: todos">
  <li>
    <span class="item" data-bind="text: text, css: { completed: completed() }"></span>
    <a href="#" data-bind="click: $parent.removeTodo">Remove</a>
    <span> | </span>
    <a href="#" data-bind="click: $parent.toggleCompleted">Toggle Completed</a>
  </li>
</ul>

<footer>
  <ul>
    <li><a href="#" data-bind="click: markAllCompleted">mark completed</a></li>
    <li><a href="#" data-bind="click: removeAll">Remove all</a></li>
  </ul>
</footer>
